{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">This is CSV generator app!</h1>
  <p class="lead">The app allows creating CSV files with fake data according to predefined schema.</p>
  <hr class="my-4">
  <p>There are two easy steps:</p>
    <ol>
        <li>Create schema using available data types.</li>
        <li>Generate and download your dataset in form of CSV file</li>
    </ol>
  <p>Start with creating a new schema or choosing from existing ones:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url "schemas:schema_list" %}" role="button">Schemas</a>
  </p>
</div>
{% endblock body %}